:root {
	font-size: 20px;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	--bg-lightness-offset: 0%;
	background-color: hsl(210, 10%, calc(20% + var(--bg-lightness-offset)));
}

.body {
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#panel {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	color: rgb(156, 156, 156);
	font-size: 2vw;
}

#panel * {
	margin: 2vw 0 0 0;
}

#sizes {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

#panel button {
	border: 0;
	width: 8vw;
	height: 8vw;
	font-size: 1.5vw;
	text-transform: uppercase;
	font-weight: 600;
	background-color: hsl(0, 0%, 42%);
}

#panel button:hover {
	background-color: hsl(0, 1%, 30%);
	cursor: pointer;
}

.board-container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.board {
	--width: 80vw;
	width: var(--width);
	border: 1px solid rgb(94, 92, 92);
	display: inline-grid;
	margin: 1rem;
	grid-template-columns: repeat(var(--size), calc(var(--width) / var(--size)));
	grid-template-rows: repeat(var(--size), calc(var(--width) / var(--size)));
	background-color: #bbb;
}

.cell {
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	border: 0.3vw solid #bbb;
	user-select: none;

	font-weight: 600;
	font-size: calc(var(--width) / var(--size) * 0.75);

	--cell-lightness-offset: 0%;
	background-color: hsl(0, 0%, calc(57% + var(--cell-lightness-offset)));
}

.cell:hover {
	--cell-lightness-offset: 10%;
}

.cell[data-status="closed"]:hover {
	cursor: pointer;
}

.cell[data-status="opened"] {
	background-color: rgb(235, 235, 235);
	color: rgb(0, 65, 0);
}
